/*
    * xs: <= 576px
    * sm: >= 576px
    * md: >= 768px
    * lg: >= 992px
    * xl: >= 1200px
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300;1,500;1,600;1,700&display=swap");
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 576px) {
  .row .col-xs-1 {
    width: 8.33333%;
  }
  .row .col-xs-2 {
    width: 16.66667%;
  }
  .row .col-xs-3 {
    width: 25%;
  }
  .row .col-xs-4 {
    width: 33.33333%;
  }
  .row .col-xs-5 {
    width: 41.66667%;
  }
  .row .col-xs-6 {
    width: 50%;
  }
  .row .col-xs-7 {
    width: 58.33333%;
  }
  .row .col-xs-8 {
    width: 66.66667%;
  }
  .row .col-xs-9 {
    width: 75%;
  }
  .row .col-xs-10 {
    width: 83.33333%;
  }
  .row .col-xs-11 {
    width: 91.66667%;
  }
  .row .col-xs-12 {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-1 {
    width: 8.33333%;
  }
  .row .col-sm-2 {
    width: 16.66667%;
  }
  .row .col-sm-3 {
    width: 25%;
  }
  .row .col-sm-4 {
    width: 33.33333%;
  }
  .row .col-sm-5 {
    width: 41.66667%;
  }
  .row .col-sm-6 {
    width: 50%;
  }
  .row .col-sm-7 {
    width: 58.33333%;
  }
  .row .col-sm-8 {
    width: 66.66667%;
  }
  .row .col-sm-9 {
    width: 75%;
  }
  .row .col-sm-10 {
    width: 83.33333%;
  }
  .row .col-sm-11 {
    width: 91.66667%;
  }
  .row .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .row .col-md-1 {
    width: 8.33333%;
  }
  .row .col-md-2 {
    width: 16.66667%;
  }
  .row .col-md-3 {
    width: 25%;
  }
  .row .col-md-4 {
    width: 33.33333%;
  }
  .row .col-md-5 {
    width: 41.66667%;
  }
  .row .col-md-6 {
    width: 50%;
  }
  .row .col-md-7 {
    width: 58.33333%;
  }
  .row .col-md-8 {
    width: 66.66667%;
  }
  .row .col-md-9 {
    width: 75%;
  }
  .row .col-md-10 {
    width: 83.33333%;
  }
  .row .col-md-11 {
    width: 91.66667%;
  }
  .row .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-1 {
    width: 8.33333%;
  }
  .row .col-lg-2 {
    width: 16.66667%;
  }
  .row .col-lg-3 {
    width: 25%;
  }
  .row .col-lg-4 {
    width: 33.33333%;
  }
  .row .col-lg-5 {
    width: 41.66667%;
  }
  .row .col-lg-6 {
    width: 50%;
  }
  .row .col-lg-7 {
    width: 58.33333%;
  }
  .row .col-lg-8 {
    width: 66.66667%;
  }
  .row .col-lg-9 {
    width: 75%;
  }
  .row .col-lg-10 {
    width: 83.33333%;
  }
  .row .col-lg-11 {
    width: 91.66667%;
  }
  .row .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-1 {
    width: 8.33333%;
  }
  .row .col-xl-2 {
    width: 16.66667%;
  }
  .row .col-xl-3 {
    width: 25%;
  }
  .row .col-xl-4 {
    width: 33.33333%;
  }
  .row .col-xl-5 {
    width: 41.66667%;
  }
  .row .col-xl-6 {
    width: 50%;
  }
  .row .col-xl-7 {
    width: 58.33333%;
  }
  .row .col-xl-8 {
    width: 66.66667%;
  }
  .row .col-xl-9 {
    width: 75%;
  }
  .row .col-xl-10 {
    width: 83.33333%;
  }
  .row .col-xl-11 {
    width: 91.66667%;
  }
  .row .col-xl-12 {
    width: 100%;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner-title {
  text-align: center;
}

img {
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
}

.container {
  max-width: 90%;
  width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid red;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.list-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
}

.banner-item {
  border: 1px solid #999;
  padding: 10px 10px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.banner-item:hover {
  border: 1px solid #333;
  cursor: pointer;
}

.banner-item .image-banner-item {
  margin-bottom: 10px;
}

.banner-item .title-banner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-item .title-text {
  text-transform: capitalize;
  color: black;
}

.banner-item .quantity-icon {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.col {
  -ms-flex-preferred-size: calc(100% / 5);
      flex-basis: calc(100% / 5);
  padding-right: 15px;
}

@media only screen and (min-width: 1200px) {
  .col {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
  }
}

@media only screen and (max-width: 375px) {
  .col {
    -ms-flex-preferred-size: calc(100% / 1);
        flex-basis: calc(100% / 1);
  }
}
/*# sourceMappingURL=style.css.map */