body{
    font-family: 'Open Sans', sans-serif
}

div{
    border: 1px solid #000000;
    background-color: aqua;
}

p{
    color: royalblue;
    padding: 20px 30px; 
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
}

a{
    text-decoration: none;
}
