*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    border: 8px solid green;
}

.parent{
    width: 200px;
    height: 200px;
    border: 3px solid red;
    position: relative;
    display: flex;
}

.child{
    width: 50px;
    height: 50px;
    border: 3px solid blue;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    transition: all 1s linear;
    z-index: 2;
}

.child2{
    width: 50px;
    height: 50px;
    border: 3px solid blue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    z-index: 1;
}

.child:hover{
    transform: scale(1.5);
}