* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1440px;
}

body {
    background-color: #eaeaea;
}

@import "header";
@import "brand";
@import "menu-row";
.container {
    @include header();
    @include brand();
    .menu-row {
        @include menu-row();
    }
}

@import "container-footer";
.container-footer {
    @include container-footer();
}

@import "container-product";
.container-product {
    @include container-product();
}