@mixin loadingMixin {
    @for $i from 1 through 6{
        .dot-item:nth-child(#{$i}) {
            background-color: red;
            animation: loading 1s linear #{0.3 * $i}s infinite;
            // animation-fill-mode: forwards;
            animation-direction: alternate;
        }
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.list-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    @include loadingMixin();
}

.dot-item {
    background-color: rgba(0,0,0,0.3);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 15px;
}



// .dot-item:nth-child(1) {
//     background-color: red;
//     animation: loading 1s linear 0s infinite;
//     // animation-fill-mode: forwards;
//     animation-direction: alternate;
// }

@keyframes loading {
    0%{
        transform: translateY(-150%);
        opacity: 1;
    }

    100%{
        transform: translateY(150%);
        opacity: 0.1;
    }
}

// $length: 6;
// .list-dot {
//     .dot-item {
//         @for $i from 1 through $length{
//             &:nth-child(#{$i}){
//                 background-color: red;
//                 animation: loading 1s linear 0s infinite;
//                 // animation-fill-mode: forwards;
//                 animation-direction: alternate;
//             }
//         }
//     }
// }