* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1440px;
}

@import "header";
@import "brand";
@import "menu-row";
@import "menu-col";
@import "slideShow";
.container {
    @include header();
    @include brand();
    .menu-row {
        @include menu-row();
    }

    .menu-col {
        @include menu-col();
    }

    .slideShow-container {
        @include slideShow();
    }
}

@import "./container-sub-thoitrang";
@import "./container-sub-thethao";
@import "./container-sub-trangsuc";
@import "./container-sub-dienlanh";
@import "./container-sub-noithat";
body {
    background-color: #eaeaea;
    @include container-sub-thoitrang();
    @include container-sub-thethao();
    @include container-sub-trangsuc();
    @include container-sub-dienlanh();
    @include container-sub-noithat();
}

@import "container-info";
.container-info {
    @include container-info();
}

@import "container-footer";
.container-footer {
    @include container-footer();
}